<% include partials/header.ejs %>

<h1>Welcome to YelpCamp</h1>

<button type="button" class="btn btn-primary" onclick="location.href='campgrounds'">See all the campgrounds</button>

<% include partials/footer.ejs %>


